<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper的命名空间 必须和某个DAO的接口文件路径一致（包名.接口）-->
<mapper namespace="com.my.store.mapper.AddressMapper">

    <resultMap id="AddressEntityMap" type="com.my.store.entity.Address">
        <id column="aid" property="aid"/>
        <result column="province_code" property="provinceCode"/>
        <result column="province_name" property="provinceName"/>
        <result column="city_code" property="cityCode"/>
        <result column="city_name" property="cityName"/>
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="is_default" property="isDefault"/>
        <result column="created_user" property="created_user"/>
        <result column="created_time" property="created_time"/>
        <result column="modified_user" property="modified_user"/>
        <result column="modified_time" property="modified_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
        insert into t_address (uid, name, province_name, province_code, city_name,
                               city_code, area_name, area_code, zip,
                               address, phone, tel, tag, is_default,
                               created_user, created_time, modified_user, modified_time)
        values (#{uid}, #{name}, #{provinceName}, #{provinceCode}, #{cityName},
                #{cityCode}, #{areaName}, #{areaCode}, #{zip},
                #{address}, #{phone}, #{tel}, #{tag}, #{isDefault},
                #{created_user}, #{created_time}, #{modified_user}, #{modified_time})
    </insert>
    <update id="updateNonDefault">
        update t_address
        set is_default = 0
        where uid = #{uid}
    </update>
    <update id="updateDefaultByAid">
        update t_address
        set is_default    = 1,
            modified_user = #{modified_user},
            modified_time = #{modified_time}
        where aid = #{aid}
    </update>
    <delete id="deleteAddressByAid">
        delete
        from t_address
        where aid = #{aid}
    </delete>
    <select id="countByUid" resultType="java.lang.Integer">
        select count(*)
        from t_address
        where uid = #{uid}
    </select>
    <select id="findAddressByUid" resultMap="AddressEntityMap">
        select *
        from t_address
        where uid = #{uid}
        order by is_default DESC,
                 created_time DESC
    </select>
    <select id="findAddressByAid" resultMap="AddressEntityMap">
        select *
        from t_address
        where aid = #{aid}
    </select>
    <select id="findLastModifiedAddress" resultMap="AddressEntityMap">
        select *
        from t_address
        where uid = #{uid}
        order by modified_time DESC limit 0, 1
    </select>


</mapper>
